/nbproject/private/
application/config/config.php
nbproject/project.xml
nbproject/project.properties
application/config/config.php
application/config/database.php
application/cache/cache_validation
application/config/config.php
application/config/database.php
application/config/lic.php
